body
{
    margin: 0;
    padding: 0;
    background: #f0efef;
    font-family: sans-serif, Arial, Helvetica;
}

header {
    background: #f0efef;
    padding: 20px;  
}

h1 {
    margin-left: 25px;
}

nav {
    background: #666666;
    color: #ffffff; 
    margin: 0;
}

nav ul.links {
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
    padding-left: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    color: #dddddd;
    display: inline-block;
}

a {
    text-decoration: none;
}

main {
    background: #ffffff;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;  
}


.box {
    display: flex;
    align-items: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.imgleft {
    padding-top: 5px;
}

.textright {
    padding: 20px;
    max-width: 60%;
    vertical-align: top;
}

.content {
    padding: 30px;
}

div.content {
    max-width: 33.33%;
}
.top {
    display: inline-block;
}

div.gallery {
  margin: 5px;
  border: 1px solid #777777;
  float: left;
  width: 380px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.behavior-box {
    display: inline-block;
    width: 25%;
    margin: 4%;
    background-color: #ffffff;
    text-align: center;
    height: 5em;
    line-height: 5em;
    font-size: 2em; 
    border-radius: 3px;
    border: solid 1px white;
    box-shadow: 0 0 3px black;
}



.gallery-container img {
    width: 31%;
    margin: 1%;
}

footer {
    background: #666666;
    padding: 25px;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .behavior-box {
        width: 100%;
    }
    .gallery-container img {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}