body
{
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: sans-serif, Arial, Helvetica;
}

header {
    background: #dddddd;
    padding: 20px;  
}

h1 {
    margin-left: 25px;
}

nav {
    background: #666666;
    color: #ffffff; 
    margin: 0;
}

nav ul.links {
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
    padding-left: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    color: #dddddd;
    display: inline-block;
}

a {
    text-decoration: none;
}

main {
    background: #ffffff;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;  
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.imgleft {
    padding-top: 5px;
}

.textright {
    padding: 20px;
}

.content {
    padding: 30px;
}

.top {
    display: inline-block;
}

div.gallery {
  margin: 5px;
  border: 1px solid #777777;
  float: left;
  width: 380px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background: #999999;
    padding: 25px;
    height: 150px;
}